In [1]:
import pandas as pd

import warnings #These two lines will ignore the warning messages
warnings.simplefilter("ignore")  

data0=pd.read_excel('Lecture9Clean.xlsx')

data0.head().transpose() # In order to show all the columns, you can use transpose()

,0,1,2,3,4
Age,41,49,37,33,27
Attrition,Yes,No,Yes,No,No
BusinessTravel,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely
DailyRate,1102,279,1373,1392,591
Department,Sales,Research & Development,Research & Development,Research & Development,Research & Development
DistanceFromHome,1,8,2,3,2
Education,2,1,2,4,1
EducationField,Life Sciences,Life Sciences,Other,Life Sciences,Medical
EnvironmentSatisfaction,2,3,4,4,1
Gender,Female,Male,Male,Female,Male
HourlyRate,94,61,92,56,40
JobInvolvement,3,2,2,3,3
JobLevel,2,2,1,1,1
JobRole,Sales Executive,Research Scientist,Laboratory Technician,Research Scientist,Laboratory Technician
JobSatisfaction,4,2,3,3,2
MaritalStatus,Single,Married,Single,Married,Married
MonthlyIncome,5993,5130,2090,2909,3468
MonthlyRate,19479,24907,2396,23159,16632
NumCompaniesWorked,8,1,6,1,9
OverTime,Yes,No,Yes,Yes,No
PercentSalaryHike,11,23,15,11,12
PerformanceRating,3,4,3,3,3
RelationshipSatisfaction,1,4,2,3,4
StockOptionLevel,0,1,0,0,1
TotalWorkingYears,8,10,7,8,6
TrainingTimesLastYear,0,3,3,3,3
WorkLifeBalance,1,3,3,3,3
YearsAtCompany,6,10,0,8,2
YearsInCurrentRole,4,7,0,7,2
YearsSinceLastPromotion,0,1,0,3,2
YearsWithCurrManager,5,7,0,0,2

In [2]:
data0 = pd.concat([data0, pd.get_dummies(data0["BusinessTravel"], prefix = "BusinessTravel"), 
                      pd.get_dummies(data0["Department"], prefix = "Department"), 
                      pd.get_dummies(data0["EducationField"], prefix = "EducationField"), 
                      pd.get_dummies(data0["Gender"], prefix = "Gender"), 
                      pd.get_dummies(data0["JobRole"], prefix = "JobRole"), 
                      pd.get_dummies(data0["MaritalStatus"], prefix = "MaritalStatus"),
                      pd.get_dummies(data0["OverTime"], prefix = "OverTime")], axis = 1)

data0 = data0.drop(["BusinessTravel", "Department", "EducationField", "Gender", "JobRole", "MaritalStatus", "OverTime"], axis = 1)

data0["Attrition"] = data0["Attrition"].apply(lambda x: 1 if x == "Yes" else 0) #apply() apply a if function to transform Attrition from Yes/No to 1/0. 

data0.head().transpose()

                                       0      1     2      3      4
Age                                   41     49    37     33     27
Attrition                              1      0     1      0      0
DailyRate                           1102    279  1373   1392    591
DistanceFromHome                       1      8     2      3      2
Education                              2      1     2      4      1
EnvironmentSatisfaction                2      3     4      4      1
HourlyRate                            94     61    92     56     40
JobInvolvement                         3      2     2      3      3
JobLevel                               2      2     1      1      1
JobSatisfaction                        4      2     3      3      2
MonthlyIncome                       5993   5130  2090   2909   3468
MonthlyRate                        19479  24907  2396  23159  16632
NumCompaniesWorked                     8      1     6      1      9
PercentSalaryHike                     11     23    15     11     12
PerformanceRating                      3      4     3      3      3
RelationshipSatisfaction               1      4     2      3      4
StockOptionLevel                       0      1     0      0      1
TotalWorkingYears                      8     10     7      8      6
TrainingTimesLastYear                  0      3     3      3      3
WorkLifeBalance                        1      3     3      3      3
YearsAtCompany                         6     10     0      8      2
YearsInCurrentRole                     4      7     0      7      2
YearsSinceLastPromotion                0      1     0      3      2
YearsWithCurrManager                   5      7     0      0      2
BusinessTravel_Non-Travel              0      0     0      0      0
BusinessTravel_Travel_Frequently       0      1     0      1      0
BusinessTravel_Travel_Rarely           1      0     1      0      1
Department_Human Resources             0      0     0      0      0
Department_Research & Development      0      1     1      1      1
Department_Sales                       1      0     0      0      0
EducationField_Human Resources         0      0     0      0      0
EducationField_Life Sciences           1      1     0      1      0
EducationField_Marketing               0      0     0      0      0
EducationField_Medical                 0      0     0      0      1
EducationField_Other                   0      0     1      0      0
EducationField_Technical Degree        0      0     0      0      0
Gender_Female                          1      0     0      1      0
Gender_Male                            0      1     1      0      1
JobRole_Healthcare Representative      0      0     0      0      0
JobRole_Human Resources                0      0     0      0      0
JobRole_Laboratory Technician          0      0     1      0      1
JobRole_Manager                        0      0     0      0      0
JobRole_Manufacturing Director         0      0     0      0      0
JobRole_Research Director              0      0     0      0      0
JobRole_Research Scientist             0      1     0      1      0
JobRole_Sales Executive                1      0     0      0      0
JobRole_Sales Representative           0      0     0      0      0
MaritalStatus_Divorced                 0      0     0      0      0
MaritalStatus_Married                  0      1     0      1      1
MaritalStatus_Single                   1      0     1      0      0
OverTime_No                            0      1     0      0      1
OverTime_Yes                           1      0     1      1      0

In [3]:
from sklearn.model_selection import train_test_split

X = data0.drop(['Attrition'], axis = 1) #not all axis=1 indicate columns, check the function definition. 
y = data0['Attrition']          

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(1176, 51) (294, 51) (1176,) (294,)

In [4]:
from loggy import logregression

logregression(X_train,X_test,y_train,y_test)

Logistic regression accuracy for test set: 0.8673469387755102

Classification report:
              precision    recall  f1-score   support

           0       0.87      1.00      0.93       255
           1       0.00      0.00      0.00        39

    accuracy                           0.87       294
   macro avg       0.43      0.50      0.46       294
weighted avg       0.75      0.87      0.81       294

[[-5.11518133e-03 -1.60760157e-04  4.86033213e-02  4.19272437e-03
  -2.73560129e-02 -9.26290805e-03 -2.65836403e-02 -4.62589673e-03
  -3.58225011e-02 -6.56933267e-05  1.56201340e-05  8.24135598e-02
  -1.60024545e-02  1.80872537e-05 -4.97320802e-03 -4.04251341e-02
  -1.24083794e-02 -2.41336888e-02 -1.37787589e-02 -1.95025395e-02
  -7.97858268e-02  4.90846774e-02 -6.26167531e-02 -7.39159642e-03
   1.41126839e-02 -6.73566685e-03  1.14142803e-03 -1.51470012e-02
   1.39909938e-02  1.58632819e-03 -5.84488918e-03  5.40134211e-03
  -5.64449586e-03 -9.63432848e-04  5.45056818e-03 -4.51983239e-03
   4.50525299e-03 -6.80129133e-03  1.40119793e-03  5.26641302e-03
  -7.81812107e-05 -5.97695819e-03 -1.75740080e-03 -5.82606662e-03
   4.67447609e-03  9.08323169e-03 -1.29107736e-02 -1.31050649e-02
   2.60012592e-02 -4.04554287e-02  4.04408492e-02]]
[-1.48229764e-05]
Index(['Age', 'DailyRate', 'DistanceFromHome', 'Education',
       'EnvironmentSatisfaction', 'HourlyRate', 'JobInvolvement', 'JobLevel',
       'JobSatisfaction', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'BusinessTravel_Non-Travel', 'BusinessTravel_Travel_Frequently',
       'BusinessTravel_Travel_Rarely', 'Department_Human Resources',
       'Department_Research & Development', 'Department_Sales',
       'EducationField_Human Resources', 'EducationField_Life Sciences',
       'EducationField_Marketing', 'EducationField_Medical',
       'EducationField_Other', 'EducationField_Technical Degree',
       'Gender_Female', 'Gender_Male', 'JobRole_Healthcare Representative',
       'JobRole_Human Resources', 'JobRole_Laboratory Technician',
       'JobRole_Manager', 'JobRole_Manufacturing Director',
       'JobRole_Research Director', 'JobRole_Research Scientist',
       'JobRole_Sales Executive', 'JobRole_Sales Representative',
       'MaritalStatus_Divorced', 'MaritalStatus_Married',
       'MaritalStatus_Single', 'OverTime_No', 'OverTime_Yes'],
      dtype='object')

In [ ]:

#This is the function I wrote to call as a logistic regression

def logregression(X_train, X_test, y_train, y_test):
    import sklearn
    from sklearn.model_selection import GridSearchCV
    from sklearn.metrics import classification_report
    from sklearn.linear_model import LogisticRegression

    model = LogisticRegression()
    logreg = GridSearchCV(model,param_grid={"penalty": ['l1','l2']})
    logreg.fit(X_train, y_train)
    y_pred_log = logreg.predict(X_test)

    print("Logistic regression accuracy for test set:", logreg.score(X_test, y_test)),
    print("\nClassification report:"),
    print(classification_report(y_test, y_pred_log)),
    print(logreg.best_estimator_.coef_),
    print(logreg.best_estimator_.intercept_),
    print(X_train.columns)       
    
    return